[submodule "FStar"]
	path = FStar
	url = https://github.com/FStarLang/FStar.git
[submodule "karamel"]
	path = karamel
	url = https://github.com/tyler-utah/karamel.git
[submodule "bench/SGEMM_CUDA"]
	path = bench/SGEMM_CUDA
	url = https://github.com/siboehm/SGEMM_CUDA
